@import '../../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import './variables.scss';
@import './mixins.scss';
@import './layout.scss';
@import 'pages/brands.scss';
@import 'pages/brands-carousel.scss';
