@import './variables.scss';

body {
  font-family: $font-stack;
  color: $color-text;
  background-color: $color-background;
  margin: 0;
}

.site-header {
  min-height: px-to-rem(76);
  padding: 0 px-to-rem(8);
  display: flex;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid var(--grey-light, #ebebeb);
}

.site-header__inner {
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.site-header__logo img {
  max-height: px-to-rem(44);
  width: auto;
}


.entry-content {
  p {
    font-size: px-to-rem(18);
    margin-bottom: 1em;
  }
}

.entry-title {
  font-family: $font-heading;
  font-weight: 700;
  font-size: clamp(2.4rem, 6vw, 3.2rem);
  margin-bottom: 0.75rem;

  a {
      font-family: $font-heading;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
}

[data-nav-toggle] {
  background: none;
  border: 0;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: $color-primary;
  cursor: pointer;
}

[data-nav] {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  &.is-open {
    display: block;
  }
}
