@mixin mf-desktop-lg {
    @media only screen and (min-width: 1599px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (max-width: 1440px) {
        @content;
    }
}

@mixin desktop-sm {
    @media only screen and (max-width: 1280px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin mobile-sm {
    @media only screen and (max-width: 480px) {
        @content;
    }
}
